{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
<title>{{ post.country }}</title>
{% endblock title %}

{% block content %}
<div class="container mt-3">
    <div class="card mb-3">
        <div class="row g-0 justify-content-center">
            <div class="col-md-4 mt-3 d-flex flex-column align-items-center text-center">
                <div class="image-border">
                    <img src="https://img.geonames.org/flags/x/{{country.iso|lower}}.gif"
                         class="img-fluid rounded-start"
                         alt="{{country.country_name}} flag">
                </div>

                <br>
                <div id="map">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body text-center">
                    <h4 class="card-title">{{ country.country_name }}</h4>
                    <br>
                    <p class="card-text">Capital: <span style="text-transform: uppercase;">{{ country.capital }}</span>
                    </p>
                    <p class="card-text">Area (in sq km): <span style="text-transform: uppercase;">{{ country.area_sq_km|intcomma }}</span>
                    </p>
                    <p class="card-text">Population: <span style="text-transform: uppercase;">{{ country.population|intcomma }}</span>
                    </p>

                    {% if country.continent == 'AF' %}
                    <p class="card-text">Continent: <span style="text-transform: uppercase;">Africa</span></p>
                    {% elif country.continent == 'AS' %}
                    <p class="card-text">Continent: <span style="text-transform: uppercase;">Asia</span></p>
                    {% elif country.continent == 'EU' %}
                    <p class="card-text">Continent: <span style="text-transform: uppercase;">Europe</span></p>
                    {% elif country.continent == 'NA' %}
                    <p class="card-text">Continent: <span style="text-transform: uppercase;">North America</span></p>
                    {% elif country.continent == 'SA' %}
                    <p class="card-text">Continent: <span style="text-transform: uppercase;">South America</span></p>
                    {% elif country.continent == 'OC' %}
                    <p class="card-text">Continent: <span style="text-transform: uppercase;">Oceania</span></p>
                    {% else %}
                    <p class="card-text">Continent: <span style="text-transform: uppercase;">Antarctica</span></p>
                    {% endif %}

                    <p class="card-text">Internet TLD: <span>{{ country.tld }}</span></p>
                    <p class="card-text">Currency Code: <span style="text-transform: uppercase;">{{ country.currency_code }}</span>
                    </p>
                    <p class="card-text">Currency Name: <span style="text-transform: uppercase;">{{ country.currency_name }}</span>
                    </p>
                    <p class="card-text">Phone: <span style="text-transform: uppercase;">{{ country.phone }}</span></p>
                    <p class="card-text">Languages: <span
                            style="text-transform: uppercase;">{{ country.languages }}</span></p>
                    <hr>
                    <a href="https://en.wikipedia.org/wiki/{{country.country_name}}" target="_blank"><img
                            src="{% static 'wiki.png' %}" class="img-fluid rounded-start" id="wiki"
                            alt="..."></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}

<script
        async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGFGiwZKkyfzWEGr1CKbn2vphW4A-dOHg&callback=initMap&v=weekly"
></script>

<script>
  function initMap() {
    let geocoder = new google.maps.Geocoder();
    let countryName = "{{country.country_name}}";

    {% if country.country_name == 'Falkland Islands' %}
    let capitalCoordinates = { lat: -51.6953, lng: -57.8533 };

    geocoder.geocode({ address: countryName }, function (results, status) {
      if (status === "OK") {
        let countryCoordinates = results[0].geometry.location;
        let map = new google.maps.Map(document.getElementById("map"), {
          zoom: 3,
          center: countryCoordinates,
        });
        let marker = new google.maps.Marker({
          position: capitalCoordinates,
          map: map,
        });
      } else {
        console.log("Geocode was not successful for the following reason: " + status);
      }
    });

    {% else %}
    let capitalName = "{{country.capital}}"; // Replace with the desired capital city name

    geocoder.geocode({ address: countryName }, function (results, status) {
      if (status === "OK") {
        let countryCoordinates = results[0].geometry.location;
        geocoder.geocode({ address: capitalName }, function (results, status) {
          if (status === "OK") {
            let capitalCoordinates = results[0].geometry.location;
            let map = new google.maps.Map(document.getElementById("map"), {
              zoom: 3,
              center: countryCoordinates,
            });
            let marker = new google.maps.Marker({
              position: capitalCoordinates,
              map: map,
            });
          } else {
            console.log("Geocode was not successful for the following reason: " + status);
          }
        });
      } else {
        console.log("Geocode was not successful for the following reason: " + status);
      }
    });
    {% endif %}
  }

</script>


{% endblock script %}


