{% extends 'base.html' %}

{% load static %}


{% block title %}
<title>Search index</title>
{% endblock title %}

{% block content %}
<br>
<div class="container">
    {% if searched_country %}
    <h1>

        You search for... {{ searched_country }}
    </h1>
    {% for country in countries %}
    <p>
        <a href="{% url 'show-country' country.slug %}">{{country}}</a>

    </p>
    {% endfor %}

    {% else %}
    <h1>Enter sth in search field</h1>
    {% endif %}
</div>

{% endblock content %}
